<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaDFQzQhjIdVvXIINiV5L_g4JcGkrSKik</string>
	<key>GCM_SENDER_ID</key>
	<string>244829638667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jewlease</string>
	<key>PROJECT_ID</key>
	<string>jewlease-dfd65</string>
	<key>STORAGE_BUCKET</key>
	<string>jewlease-dfd65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244829638667:ios:726e63abbdae062c5d770e</string>
</dict>
</plist>